body {
  display: flexbox;
  width: 414px;
}

.topo {
  background-color: #CF2B2B;
  display: flex;
  justify-content: center;
  height: 92px;
  flex-direction: column;
  color: #FFFFFF;
}

.plataforma {
  font-family: 'Righteous';
  font-weight: 400;
  font-size: 44px;
  margin-left: 20px;
}

.slogan {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  margin-left: 20px;
}